.container-fluid(style="padding-top: 60px")
    .col-md-10.col-md-offset-1
        h2 Lista de Processos
        br
        .col-md-12.text-right
            form.form-inline
                .input-group
                    span.input-group-addon
                        i.fa.fa-fw.fa-search
                    .form-group
                        input.form-control(type="text", ng-model="data.filter")
                    .form-group
                        select.form-control(ng-model="data.filterType")
                            option(value="professor") Professor
                            option(value="avaliador") Relator
        br
        hr
        table.table.table-hover(ng-if="data.maxIndex > 0")
            thead
                tr
                    th ID
                    th Docente
                    th Relator
                    th Tipo
                    th Situação
                    th Pendências
                    th Ações
            tbody
                tr(ng-repeat="process in data.allProcesses", ng-show="!process.hidden")
                    td {{process.identificador}}
                    td {{process.idProfessor.nome}}
                    td
                        span(ng-if="process.idAvaliador") {{process.idAvaliador.nome}}
                        span(ng-if="!process.idAvaliador") Nenhum
                    td {{process.tipo}}
                    td {{process.situacao}}
                    td
                        ul
                            li(ng-repeat="pendencia in process.pendencias")
                                span {{pendencia}}
                    td
                        button.btn.btn-sm.btn-primary(data-toggle="modal", data-target="#modalAssociate", ng-click="callAssociate($index)", uib-tooltip="Associar Relator", tooltip-placement="top", ng-if="(getUserType() === 'Secretaria' || getUserType() === 'Administrador') && process.mudancaDeAvaliadorDisponivel")
                            span.fa.fa-fw.fa-user
                        button.btn.btn-sm.btn-success(ng-if="process.pendencias.indexOf('Pontuação dos Discentes pendente') !== -1 && (getUserType() === 'Secretaria' || getUserType() === 'Administrador')", data-toggle="modal", data-target="#modalAddScore", ng-click="putScore($index, 'discente')", uib-tooltip="Inserir Nota do Discente", tooltip-placement="top")
                            span.fa.fa-fw.fa-pencil-square
                        button.btn.btn-sm.btn-success(ng-if="process.pendencias.indexOf('Pontuação da Diretoria pendente') !== -1 && (getUserType() === 'Professor' && isAuthorized('Diretor'))", data-toggle="modal", data-target="#modalAddScore", ng-click="putScore($index, 'diretoria')", uib-tooltip="Inserir Nota da Diretoria", tooltip-placement="top")
                            span.fa.fa-fw.fa-pencil-square
                        button.btn.btn-sm.btn-info(ng-if="process.idQuadroSumario", data-toggle="modal", data-target="#modalShowSummaryTable", ng-click="showSummaryTable($index)", uib-tooltip="Visualizar Quadro Sumário", tooltip-placement="top")
                            span.fa.fa-fw.fa-table
                            
        h4(ng-if="data.maxIndex === 0 && data.allProcesses.length > 0") Não existe nenhum processo com esta busca
        h4(ng-if="data.maxIndex === 0 && data.allProcesses.length === 0") Não existe nenhum processo cadastrado no momento

    #modalAssociate.modal.fade.bs-example-modal-lg(tabindex="-1", role="dialog", aria-labelledby="myLargeModalLabel")
        .modal-dialog
            .modal-content
                .modal-header
                    h4 Gerenciar Processo {{data.allProcesses[data.associate.index].idProfessor.numero}}
                .modal-body
                    .row
                        label.col-md-4.control-label.text-right Docente:
                        span.col-md-6 {{data.allProcesses[data.associate.index].idProfessor.nome}}
                    br
                    .row
                        label.col-md-4.control-label.text-right Tipo:
                        span.col-md-6 {{data.allProcesses[data.associate.index].tipo}}
                    br
                    .row
                        label.col-md-4.control-label.text-right Relator do Processo:
                        .col-md-6
                            autocomplete(ng-model="data.associate.idAvaliador", attr-input-class="form-control", data="data.evaluators", attr-placeholder="", autocomplete-required="true", click-activation="true", track-by="'_id'", display-by="'nome'")
                    br
                    br
                .modal-footer
                    button.btn.btn-primary.side-margins(ng-click="finishAssociate()")
                        span Associar
                    button.btn.btn-default(data-dismiss="modal")
                        span Cancelar


    #modalAddScore.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myLargeModalLabel")
        .modal-dialog
            .modal-content
                form(name="formAddScore")
                    .modal-header
                        h4
                            span Adicionar nota&nbsp;
                            span(ng-if="data.putScore.scoreType === 'discente'") dos discentes
                            span(ng-if="data.putScore.scoreType === 'diretoria'") da diretoria
                    .modal-body
                        .row(ng-repeat="year in data.putScore.years")
                            label.col-md-4.col-md-offset-2.control-label.text-right Nota do ano de {{year}}
                            .col-md-3
                                input.form-control(type="number", ng-model="data.putScore.yearsInput[$index]", required)
                            br
                            br
                        br
                        br
                    .modal-footer
                        button.btn.btn-primary.side-margins(ng-click="finishAddScore()", ng-disabled="!formAddScore.$valid")
                            span Adicionar Notas
                        button.btn.btn-default(data-dismiss="modal")
                            span Cancelar

    #modalShowSummaryTable.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myLargeModalLabel")
        .modal-dialog.modal-lg
            .modal-content
                form(name="formAddScore")
                    .modal-header
                        h4
                            span Quadro Sumário
                    .modal-body(ng-if="data.summaryTableIndex !== -1")
                        table.table.table-striped.table-bordered
                            tbody
                                tr
                                    td
                                    th Quadro Sumário da Avaliação
                                    th Tipo de Avaliação:
                                    td {{data.summaryTable.tipo}}
                                    td {{data.summaryTable.status}}
                                tr
                                    th Professor
                                    td {{data.allProcesses[data.summaryTableIndex].idProfessor.nome}}
                                    th Matrícula
                                    td {{data.allProcesses[data.summaryTableIndex].idProfessor.matricula}}
                                    td
                                tr
                                    th Período
                                    td {{data.allProcesses[data.summaryTableIndex].dataDeInicio | date:'MM/yyyy'}} a {{data.allProcesses[data.summaryTableIndex].dataFim | date:'MM/yyyy'}}
                                    th Processo
                                    td {{data.allProcesses[data.summaryTableIndex].identificador}}
                                    td
                                tr 
                                    td
                                    td Anos Avaliados
                                    td(ng-repeat="tabela in data.summaryTable.tabela")
                                        span {{tabela.anoBase}}
                                        
                                tr 
                                    td
                                    td Meses Considerados
                                    td(ng-repeat="tabela in data.summaryTable.tabela")
                                        span {{tabela.mesesAvaliados}}
                                        
                                tr
                                    td
                                    td Avaliação parcial baseada no RADOC
                                    td(ng-repeat="tabela in data.summaryTable.tabela")
                                        span Av. Parcial Pontos
                                        
                                tr
                                    th I
                                    th Atividades de Ensino
                                    td(ng-repeat="tabela in data.summaryTable.tabela")

                                tr
                                    td I-1
                                    td Ensino de graduação
                                    td(ng-repeat="tabela in data.summaryTable.tabela")  
                                        span {{tabela.pontuacaoRadoc.ensino.graduacao}}

                                tr
                                    td I-2
                                    td Ensino de pós-graduação
                                    td(ng-repeat="tabela in data.summaryTable.tabela")    
                                        span {{tabela.pontuacaoRadoc.ensino.posGraduacao}}

                                tr
                                    td 
                                    th Pontuação Total
                                    th(ng-repeat="tabela in data.summaryTable.tabela")    
                                        span {{tabela.pontuacaoRadoc.ensino.total}}

                                tr
                                    th II
                                    th PRODUÇÃO INTELECTUAL
                                    td(ng-repeat="tabela in data.summaryTable.tabela")  

                                tr
                                    td II-1
                                    td Produção Científica
                                    td(ng-repeat="tabela in data.summaryTable.tabela")    
                                        span {{tabela.pontuacaoRadoc.producaoIntelectual.cientifica}}

                                tr
                                    td II-2
                                    td Produção Artística e Cultural
                                    td(ng-repeat="tabela in data.summaryTable.tabela")    
                                        span {{tabela.pontuacaoRadoc.producaoIntelectual.artisticaCultural}}

                                tr
                                    td II-3
                                    td Produção Técnica ou Tecnológica
                                    td(ng-repeat="tabela in data.summaryTable.tabela")    
                                        span {{tabela.pontuacaoRadoc.producaoIntelectual.tecnicaTecnologica}}

                                tr
                                    td II-4
                                    td Outro tipo de produção
                                    td(ng-repeat="tabela in data.summaryTable.tabela")    
                                        span {{tabela.pontuacaoRadoc.producaoIntelectual.outros}}

                                tr
                                    td 
                                    th Pontuação Total
                                    th(ng-repeat="tabela in data.summaryTable.tabela")    
                                        span {{tabela.pontuacaoRadoc.producaoIntelectual.total}}

                                tr
                                    th III
                                    th ATIVIDADES DE PESQUISA E EXTENSÃO
                                    td(ng-repeat="tabela in data.summaryTable.tabela")  

                                tr
                                    td III-1
                                    td Pesquisa
                                    td(ng-repeat="tabela in data.summaryTable.tabela")    
                                        span {{tabela.pontuacaoRadoc.pesquisaExtensao.pesquisa}}

                                tr
                                    td III-2
                                    td Extensão
                                    td(ng-repeat="tabela in data.summaryTable.tabela")    
                                        span {{tabela.pontuacaoRadoc.pesquisaExtensao.extensao}}

                                tr
                                    td 
                                    th Pontuação Total
                                    th(ng-repeat="tabela in data.summaryTable.tabela")    
                                        span {{tabela.pontuacaoRadoc.pesquisaExtensao.total}}

                                tr
                                    th IV
                                    th ATIVIDADES ADMINISTRATIVAS
                                    td(ng-repeat="tabela in data.summaryTable.tabela")   

                                tr
                                    td IV-1
                                    td Direção e função gratificada
                                    td(ng-repeat="tabela in data.summaryTable.tabela")    
                                        span {{tabela.pontuacaoRadoc.administrativas.direcaoFuncaoGratificada}}

                                tr
                                    td IV-2
                                    td Atividades administrativas
                                    td(ng-repeat="tabela in data.summaryTable.tabela")    
                                        span {{tabela.pontuacaoRadoc.administrativas.administrativas}}

                                tr
                                    td IV-3
                                    td Outras atividades administrativas
                                    td(ng-repeat="tabela in data.summaryTable.tabela")    
                                        span {{tabela.pontuacaoRadoc.administrativas.outras}}

                                tr
                                    td IV-4
                                    td Atividades de representação fora da UFG
                                    td(ng-repeat="tabela in data.summaryTable.tabela")     
                                        span {{tabela.pontuacaoRadoc.administrativas.representacaoFora}}

                                tr 
                                    td 
                                    th Pontuação Total
                                    th(ng-repeat="tabela in data.summaryTable.tabela")    
                                        span {{tabela.pontuacaoRadoc.administrativas.total}}

                                tr
                                    th V
                                    th OUTRAS ATIVIDADES
                                    td(ng-repeat="tabela in data.summaryTable.tabela") 

                                tr
                                    td V-1
                                    td Orientação
                                    td(ng-repeat="tabela in data.summaryTable.tabela")    
                                        span {{tabela.pontuacaoRadoc.outrasAtividades.orientacao}}

                                tr
                                    td V-2
                                    td Atividades Acadêmicas - Bancas e Cursos
                                    td(ng-repeat="tabela in data.summaryTable.tabela")    
                                        span {{tabela.pontuacaoRadoc.outrasAtividades.academicas}}

                                tr
                                    td V-3
                                    td Atividades de Aprendizado e Aperfeiçoamento
                                    td(ng-repeat="tabela in data.summaryTable.tabela")    
                                        span {{tabela.pontuacaoRadoc.outrasAtividades.aprendizado}}

                                tr
                                    td 
                                    th Pontuação Total
                                    th(ng-repeat="tabela in data.summaryTable.tabela")    
                                        span {{tabela.pontuacaoRadoc.outrasAtividades.total}}

                                tr
                                    td 
                                    th PONTUAÇÃO TOTAL (I +II+III+IV+V)
                                    th(ng-repeat="tabela in data.summaryTable.tabela")    
                                        span {{tabela.pontuacaoRadoc.total}}

                                tr
                                    th VI
                                    th NOTAS DE AVALIAÇÃO
                                    td(ng-repeat="tabela in data.summaryTable.tabela")  

                                tr
                                    td VI-1
                                    td Nota da CAD – Ni
                                    td(ng-repeat="tabela in data.summaryTable.tabela")    
                                        span(ng-if="tabela.notasAvaliacao.notaCAD") {{tabela.notasAvaliacao.notaCAD}}

                                tr
                                    td VI-2
                                    td Nota da chefia
                                    td(ng-repeat="tabela in data.summaryTable.tabela")    
                                        span(ng-if="tabela.notasAvaliacao.notaChefia") {{tabela.notasAvaliacao.notaChefia}}

                                tr
                                    td VI-3
                                    td Nota da avaliação discente
                                    td(ng-repeat="tabela in data.summaryTable.tabela")        
                                        span(ng-if="tabela.notasAvaliacao.notaDiscente") {{tabela.notasAvaliacao.notaDiscente}}

                                tr
                                    td VI-4
                                    td Pontuação da produção intelectual
                                    td(ng-repeat="tabela in data.summaryTable.tabela")     
                                        span(ng-if="tabela.notasAvaliacao.producaoIntelectual") {{tabela.notasAvaliacao.producaoIntelectual}}                                
                                    
                                tr
                                    th VII
                                    th NOTA FINAL
                                    th(colspan="{{data.summaryTable.tabela.length}}")   
                                
                                tr
                                    td VII-1
                                    td Estágio Probatório – NF
                                    td(colspan="{{data.summaryTable.tabela.length}}")  
                                        span(ng-if="data.summaryTable.notaFinal.estagioProbatorio") {{data.summaryTable.notaFinal.estagioProbatorio}}
                                
                                tr
                                    td VII-2
                                    td Progressão – NF
                                    td(colspan="{{data.summaryTable.tabela.length}}")    
                                        span(ng-if="data.summaryTable.notaFinal.progressao") {{data.summaryTable.notaFinal.progressao}}
                                
                                tr
                                    td VII-3
                                    td Média da pontuação do Item I-1: Atividades de Ensino Graduação
                                    td(colspan="{{data.summaryTable.tabela.length}}")    
                                        span(ng-if="data.summaryTable.notaFinal.mediaEnsinoGraduacao") {{data.summaryTable.notaFinal.mediaEnsinoGraduacao}}
                                
                                tr
                                    td VII-4
                                    td Média da pontuação do Item I: Atividades de Ensino
                                    td(colspan="{{data.summaryTable.tabela.length}}")    
                                        span(ng-if="data.summaryTable.notaFinal.mediaEnsino") {{data.summaryTable.notaFinal.mediaEnsino}}
                                
                                tr
                                    td VII-5
                                    td Média da pontuação do Item II: Produção Intelectual
                                    td(colspan="{{data.summaryTable.tabela.length}}")    
                                        span(ng-if="data.summaryTable.notaFinal.mediaProducaoIntelectual") {{data.summaryTable.notaFinal.mediaProducaoIntelectual}}
                                
                                tr
                                    td VII-6
                                    td Média da avaliação da Diretoria
                                    td(colspan="{{data.summaryTable.tabela.length}}")    
                                        span(ng-if="data.summaryTable.notaFinal.mediaChefia") {{data.summaryTable.notaFinal.mediaChefia}}
                                
                                tr
                                    td VII-7
                                    td Média da avaliação Discente
                                    td(colspan="{{data.summaryTable.tabela.length}}")   
                                        span(ng-if="data.summaryTable.notaFinal.mediaDiscente") {{data.summaryTable.notaFinal.mediaDiscente}} 
                                
                                tr
                                    td VII-8
                                    td Valor de S = Soma de todas as pontuações, exceto o Item II: Produção Intelectual
                                    td(colspan="{{data.summaryTable.tabela.length}}")   
                                        span(ng-if="data.summaryTable.notaFinal.") {{data.summaryTable.notaFinal.notaFinal}}
                                
                                tr
                                    td
                                    th RESULTADO
                                    th(colspan="{{data.summaryTable.tabela.length}}")  
                                        
                    .modal-footer
                        button.btn.btn-default(data-dismiss="modal")
                            span Fechar
