.container
    br
    br
    br
    br
    .row
        .col-md-8
            .main-blue-color.main-title Redefinir senha
            br
            br
            p.main-block
                | Preencha os campos de recuperação abaixo:
        
            br
            br
            label Endereço de e-mail
            br
            input.form-control.signup-input(type='email', ng-model="data.reset.email", ng-disabled="data.reset.disabledEmail")
            label.main-gray-color E-mail da conta.
            br
            br
            label Chave
            br
            input.form-control.signup-input(type='text', ng-model="data.reset.token", ng-disabled="data.reset.disabledToken")
            label.main-gray-color Chave recebida por email.
            br
            br
            label Senha
            br
            input.form-control.signup-input(type='password', ng-model="data.reset.password")
            label.main-gray-color Nova senha a ser definida.
            br
            br
            label Repita a Senha
            br
            input.form-control.signup-input(type='password', ng-model="data.reset.repeatPassword")
            label.main-gray-color Repita a nova senha a ser definida.
            br
            br
            br
    .row
        .col-md-12.center
            button.btn.btn-success(type='button', ng-click="reset()") Redefinir Senha
            br
            br
