[ng-cloak]
    display none !important

body
  margin-top 0px
  background-color #F7F7F7
  font-family 'Lato' sans-serif
  width 100%
  height 100%
  font-weight: 400

html
    height 100%

.loading
    background #fff url('../img/loder.gif') no-repeat 50% 50%
    height 100%
    -webkit-transition background-color 0
    transition background-color 0

.sidebar
    margin-top 1px !important

.pointer-element
    cursor pointer

section.content
    padding-top 50px

ul.nav li a
    color white

.main-content
    min-height 100%
    position relative

$bgDefault = #005ca1
$bgHighlight = #003e6c
$colDefault = white
$colHighlight = #808080
$dropDown = true
.navbar-default
  background-color: $bgDefault
  border-color: $bgHighlight
  .navbar-brand
    color: $colDefault
    &:hover, &:focus
      color: $colHighlight
  .navbar-text
    color: $colDefault
  .navbar-nav
    > li
      > a
        color: $colDefault
        &:hover, &:focus
          color: $colHighlight
      if $dropDown
        > .dropdown-menu
          background-color: $bgDefault
          > li > a
            color: $colDefault
            &:hover, &:focus
              color: $colHighlight
              background-color: $bgHighlight
          .divider
            background-color: $bgHighlight
    > .active
      > a, > a:hover, > a:focus
        color: $colHighlight
        background-color: $bgHighlight
    > .open
      > a, > a:hover, > a:focus
        color: $colHighlight
        background-color: $bgHighlight
  .navbar-toggle
    border-color: $bgHighlight
    &:hover, &:focus
      background-color: $bgHighlight
    .icon-bar
      background-color: $colDefault
  .navbar-collapse,
.navbar-form
    border-color: $colDefault
  .navbar-link
    color: $colDefault
    &:hover
      color: $colHighlight
@media (max-width: 767px)
  .navbar-default .navbar-nav .open .dropdown-menu
    > li > a
      color: $colDefault
      &:hover, &:focus
        color: $colHighlight
    > .active
      > a, > a:hover, > a:focus
        color: $colHighlight
        background-color: $bgHighlight

.navbar-brand
    padding 5px 15px

.main-blue-color
    color #005CA1

.main-gray-color
    color #999999

.main-red-color
    color #F44336

.main-green-color
    color #1abc9c

.main-title
    font-size 30px

.main-block
    font-size 16px
    color #878787

.main-login-block > div
    text-align center

.main-login-block > div > .span-title
    font-size 20px

.center
    text-align center

.justify
    text-align justify

.footer
    background-color #005ca1
    color white
    margin-left 0px !important
    margin-right 0px !important

.footer a
    color white

.recovery-input
    width 60%

.signup-input
    width 70%

.my-drop-zone
    border dotted 3px lightgray

#radoc-input
    visibility hidden

#breadcrumb {
  list-style: none;
  display: inline-block;
}
#breadcrumb .icon {
  font-size: 14px;
}
#breadcrumb li {
  float: left;
}
#breadcrumb li a {
  color: #FFF;
  display: block;
  background: #3498db;
  text-decoration: none;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 23px;
}
#breadcrumb li:nth-child(even) a {
  background-color: #2980b9;
}
#breadcrumb li:nth-child(even) a:before {
  border-color: #2980b9;
  border-left-color: transparent;
}
#breadcrumb li:nth-child(even) a:after {
  border-left-color: #2980b9;
}
#breadcrumb li:first-child a {
  padding-left: 15px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
}
#breadcrumb li:first-child a:before {
  border: none;
}
#breadcrumb li:last-child a {
  padding-right: 15px;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
}

#breadcrumb li a:before, #breadcrumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #3498db;
  border-width: 20px 10px;
  width: 0;
  height: 0;
}
#breadcrumb li a:before {
  left: -20px;
  border-left-color: transparent;
}
#breadcrumb li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #3498db;
}
#breadcrumb li a.passed:hover {
  background-color: #1abc9c;
  cursor: pointer !important;
}
#breadcrumb li a.disabled {
  background-color: #999999;
}
#breadcrumb li a.disabled:before {
  border-color: #999999;
  border-left-color: transparent;
}
#breadcrumb li a.disabled:after {
  border-left-color: #999999;
}

#breadcrumb li a.passed:hover {
  background-color: #1abc9c;
}
#breadcrumb li a.passed:hover:before {
  border-color: #1abc9c;
  border-left-color: transparent;
}
#breadcrumb li a.passed:hover:after {
  border-left-color: #1abc9c;
}

#breadcrumb li a.failed {
  background-color: #F95D51;
}
#breadcrumb li a.failed:before {
  border-color: #F95D51;
  border-left-color: transparent;
}
#breadcrumb li a.failed:after {
  border-left-color: #F95D51;
}

#breadcrumb li a.active {
  background-color: #1abc9c;
}
#breadcrumb li a.active:before {
  border-color: #1abc9c;
  border-left-color: transparent;
}
#breadcrumb li a.active:after {
  border-left-color: #1abc9c;
}
