doctype
html
    head
        title SysRadoc
        link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
        link(href="https://fonts.googleapis.com/css?family=Lato", rel="stylesheet", type="text/css")
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:300', rel='stylesheet', type='text/css')
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
    body(ng-app='app', ng-cloak)
        include current-user
        block main-content
        include scripts
