.container-fluid(style="padding-top: 60px")
    .col-md-10.col-md-offset-1
        h2 Lista de Processos
        br
        .col-md-12.text-right
            form.form-inline
                .input-group
                    span.input-group-addon
                        i.fa.fa-fw.fa-search
                    .form-group
                        input.form-control(type="text", ng-model="data.filter")
                    .form-group
                        select.form-control(ng-model="data.filterType")
                            option(value="professor") Professor
                            option(value="avaliador") Relator
        br
        hr
        table.table.table-hover(ng-if="data.maxIndex > 0")
            thead
                tr
                    th #
                    th Docente
                    th Relator
                    th Tipo
                    th Situação
                    th Pendências
                    th Ações
            tbody
                tr(ng-repeat="process in data.allProcesses", ng-show="!process.hidden")
                    td {{process.numero}}
                    td {{process.idProfessor.nome}}
                    td
                        span(ng-if="process.idAvaliador") {{process.idAvaliador.nome}}
                        span(ng-if="!process.idAvaliador") Nenhum
                    td {{process.tipo}}
                    td {{process.situacao}}
                    td
                        ul
                            li(ng-repeat="pendencia in process.pendencias")
                                span {{pendencia}}
                    td
                        button.btn.btn-sm.btn-primary(data-toggle="modal", data-target="#modalAssociate", ng-click="callAssociate($index)", uib-tooltip="Associar Relator", tooltip-placement="top")
                            span.fa.fa-fw.fa-user
                        button.btn.btn-sm.btn-success(ng-if="process.pendencias.indexOf('Pontuação dos Discentes pendente') !== -1 && (getUserType() === 'Secretaria' || getUserType() === 'Administrador')", data-toggle="modal", data-target="#modalAddScore", ng-click="putScore($index, 'discente')", uib-tooltip="Inserir Nota do Discente", tooltip-placement="top")
                            span.fa.fa-fw.fa-pencil-square
                        button.btn.btn-sm.btn-success(ng-if="process.pendencias.indexOf('Pontuação dos Diretoria pendente') !== -1 && (getUserType() === 'Professor' && isAuthorized('Diretoria'))", data-toggle="modal", data-target="#modalAddScore", ng-click="putScore($index, 'diretoria')", uib-tooltip="Inserir Nota da Diretoria", tooltip-placement="top")
                            span.fa.fa-fw.fa-pencil-square
                            
        h4(ng-if="data.maxIndex === 0 && data.allProcesses.length > 0") Não existe nenhum processo com esta busca
        h4(ng-if="data.maxIndex === 0 && data.allProcesses.length === 0") Não existe nenhum processo cadastrado no momento

    #modalAssociate.modal.fade.bs-example-modal-lg(tabindex="-1", role="dialog", aria-labelledby="myLargeModalLabel")
        .modal-dialog
            .modal-content
                .modal-header
                    h4 Gerenciar Processo {{data.allProcesses[data.associate.index].idProfessor.numero}}
                .modal-body
                    .row
                        label.col-md-4.control-label.text-right Docente:
                        span.col-md-6 {{data.allProcesses[data.associate.index].idProfessor.nome}}
                    br
                    .row
                        label.col-md-4.control-label.text-right Tipo:
                        span.col-md-6 {{data.allProcesses[data.associate.index].tipo}}
                    br
                    .row
                        label.col-md-4.control-label.text-right Relator do Processo:
                        .col-md-6
                            autocomplete(ng-model="data.associate.idAvaliador", attr-input-class="form-control", data="data.evaluators", attr-placeholder="", autocomplete-required="true", click-activation="true", track-by="'_id'", display-by="'nome'")
                    br
                    br
                .modal-footer
                    button.btn.btn-primary.side-margins(ng-click="finishAssociate()")
                        span Associar
                    button.btn.btn-default(data-dismiss="modal")
                        span Cancelar


    #modalAddScore.modal.fade.bs-example-modal-lg(tabindex="-1", role="dialog", aria-labelledby="myLargeModalLabel")
        .modal-dialog
            .modal-content
                .modal-header
                    h4
                        span Adicionar nota&nbsp;
                        span(ng-if="data.putScore.scoreType === 'discente'") dos discentes
                        span(ng-if="data.putScore.scoreType === 'diretoria'") da diretoria
                .modal-body
                    .row(ng-repeat="year in data.putScore.years", ng-if="data.allProcesses[data.putscore.index].pendencias.indexOf('RADOC ' + year + ' pendente') === -1")
                        label.col-md-4.control-label.text-right Nota do ano de {{ano}}
                        .col-md-6
                            input(type="text", ng-model="data.putScore.yearsInput[$index]")
                    
                    br
                    br
                .modal-footer
                    button.btn.btn-primary.side-margins(ng-click="finishAddScore()")
                        span Adicionar Notas
                    button.btn.btn-default(data-dismiss="modal")
                        span Cancelar
