.container-fluid(style="padding-top: 60px")
    .col-md-8.col-md-offset-2
        h2 Registro de Processos
        hr
        
        form.form-horizontal(name="newProcessForm")
        
            .form-group
                label.col-md-4.control-label Tipo de Processo:
                .col-md-6
                    select.form-control(name="typesList", ng-model="data.newProcess.type", required)
                        option(value="") Escolha...
                        option(ng-repeat="type in data.types", ng-value="type") {{type}}

            .form-group
                label.col-md-4.control-label Professor Avaliado:
                .col-md-6
                    select.form-control(name="teachersList", ng-model="data.newProcess.evaluatedTeacher", required)
                        option(value="") Escolha...
                        option(ng-repeat="teacher in data.teachers", ng-value="teacher") {{teacher}}
                        
            .form-group
                label.col-md-4.control-label Avaliador do Processo:
                .col-md-6
                    select.form-control(name="evaluatorsList", ng-model="data.newProcess.processEvaluators", required)
                        option(value="") Escolha...
                        option(ng-repeat="evaluator in data.evaluators", ng-value="evaluator") {{evaluator}}

            div
                .form-group
                    label.col-md-4.control-label Data de Início:
                    .col-md-6
                        uib-datepicker(ng-model="data.newProcess.startDate", class="well well-sm")

            div
                .form-group
                    label.col-md-4.control-label Data de Fim:
                    .col-md-6
                        uib-datepicker(ng-model="data.newProcess.endDate", class="well well-sm")

                br
            .form-group
                .col-md-6.col-md-offset-4.text-center
                    button.btn.btn-md.btn-primary(ng-click="createProcess()", ng-disabled="!newProcessForm.$valid") Registrar
