.container
    br
    br
    br
    br
    .row
        .col-md-8
            .main-blue-color.main-title Recuperação de conta
            br
            br
            p.main-block
                | Para segurança da sua conta, iremos enviar por email um link único para continuarmos o processo de recuperação de conta.
        
            br
            br 
            label Endereço de e-mail
            br
            input.form-control.recovery-input(type='email', ng-model="data.recovery.email")
            br
            br
            button.btn.btn-success(type='button') Redefinir senha
            br
            br
